In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.preprocessing import StandardScaler
df=pd.read_csv('CarPrice_Assignment.csv')
df.drop(columns=['CarName'],inplace=True)
print(df.isnull().sum())
df.fillna(df.mean(), inplace=True)

car_ID              0
symboling           0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

<ipython-input-33-84675b32635f>:9: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [ ]:
#no null values
#convert catgorical variables into one hot encoder
categorical_variables=["fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "enginelocation","enginetype","cylindernumber","fuelsystem"]
df=pd.get_dummies(df,columns=categorical_variables,drop_first=True)
print(df.head())

   car_ID  symboling  wheelbase  carlength  carwidth  carheight  curbweight  \
0       1          3       88.6      168.8      64.1       48.8        2548
1       2          3       88.6      168.8      64.1       48.8        2548
2       3          1       94.5      171.2      65.5       52.4        2823
3       4          2       99.8      176.6      66.2       54.3        2337
4       5          2       99.4      176.6      66.4       54.3        2824

   enginesize  boreratio  stroke  ...  cylindernumber_three  \
0         130       3.47    2.68  ...                     0
1         130       3.47    2.68  ...                     0
2         152       2.68    3.47  ...                     0
3         109       3.19    3.40  ...                     0
4         136       3.19    3.40  ...                     0

   cylindernumber_twelve  cylindernumber_two  fuelsystem_2bbl  \
0                      0                   0                0
1                      0                   0                0
2                      0                   0                0
3                      0                   0                0
4                      0                   0                0

   fuelsystem_4bbl  fuelsystem_idi  fuelsystem_mfi  fuelsystem_mpfi  \
0                0               0               0                1
1                0               0               0                1
2                0               0               0                1
3                0               0               0                1
4                0               0               0                1

   fuelsystem_spdi  fuelsystem_spfi
0                0                0
1                0                0
2                0                0
3                0                0
4                0                0

[5 rows x 45 columns]

In [ ]:
X = df.drop(columns=["price"])
y = df["price"]
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
squared_error=mean_squared_error(y_test,y_pred)
r_squared=r2_score(y_test,y_pred)
print("Mean Squared Error:", squared_error)
print("R-squared:", r_squared)

# Print the coefficients of the model
coefficients = dict(zip(categorical_variables, model.coef_))
print("Coefficients:", coefficients)
print("Intercept:", model.intercept_)

Mean Squared Error: 7852574.203817808
R-squared: 0.9005298423323499
Coefficients: {'fueltype': -17.390634779702697, 'aspiration': 101.93042210982442, 'doornumber': 98.82695925924223, 'carbody': -78.22275078592749, 'drivewheel': 660.4160841491821, 'enginelocation': 206.11424316634825, 'enginetype': 5.156732147703056, 'cylindernumber': 99.05209619154158, 'fuelsystem': -1412.9781781993215}
Intercept: -49568.353476165255